.home-page {
  background: rgb(234, 231, 226);
  color: #731;

  &__title {
    color: red;
  }

  /* Utilize Flexbox with row wrapping */
  &__products {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 

    a {
      text-decoration: none;
      color: inherit;
    }

    .product-preview-card {
      width: calc(33.33% - 20px);
      margin-bottom: 20px;
      transition: transform 0.2s ease-in-out; /* Define the animation transition */
    }
    
    .product-preview-card {
      animation: bounce 0.5s ease infinite; /* Apply the bounce animation on hover */
    }
    
    @keyframes bounce {
      0%, 100% {
        transform: translateY(0); /* Start and end position: no vertical translation */
      }
      50% {
        transform: translateY(-20px); /* Peak of the bounce: translate upward */
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .home-page.adaptive {
    background: rgb(63, 36, 10);
    color: #dcb;
    outline: 5px dashed #000;
  }
}